body{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: 1px soild black;
}

header ul{
    background-color: bisque;
}

li{
    list-style-type: none;
    padding: 10px;
}
 ul{
     margin: 0;
 }
 .box{
     background-color: chocolate;
     width: 100%;
     border: 1px black solid;
     margin: 5px;
     padding: 10px;
 }